@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* TODO: Mettre des couleurs plus lisible en light mode */
  :root {
    --background: 210 17% 98%;
    --foreground: 210 5% 38%;
    --muted: 210 12% 90%;
    --muted-foreground: 210 12% 30%;
    --popover: 210 17% 95%;
    --popover-foreground: 210 5% 28%;
    --card: 210 17% 96%;
    --card-foreground: 210 5% 33%;
    --border: 210 7% 93%;
    --input: 210 7% 90%;
    --primary: 35 100% 60%;
    --primary-foreground: 0 0% 0%;
    --secondary: 35 30% 25%;
    --secondary-foreground: 35 30% 85%;
    --accent: 210 17% 83%;
    --accent-foreground: 210 17% 23%;
    --destructive: 5 83% 33%;
    --destructive-foreground: 5 83% 93%;
    --ring: 35 100% 60%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222 22% 15%;
    --foreground: 48 9% 78%;
    --muted: 222 12% 19%;
    --muted-foreground: 222 12% 69%;
    --popover: 222 22% 12%;
    --popover-foreground: 48 9% 88%;
    --card: 222 22% 13%;
    --card-foreground: 48 9% 83%;
    --border: 222 12% 20%;
    --input: 222 12% 23%;
    --primary: 40 100% 70%;
    --primary-foreground: 40 100% 10%;
    --secondary: 40 30% 25%;
    --secondary-foreground: 40 30% 85%;
    --accent: 222 22% 30%;
    --accent-foreground: 222 22% 90%;
    --destructive: 9 86% 58%;
    --destructive-foreground: 0 0% 100%;
    --ring: 40 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-primary;
  }
  
  h1 {
    @apply text-4xl font-bold mb-4;
  }
  h2 {
    @apply text-3xl font-semibold mb-3;
  }
  h3 {
    @apply text-2xl font-medium mb-2;
  }
  h4 {
    @apply text-xl font-medium mb-2;
  }
  h5 {
    @apply text-lg font-medium mb-1;
  }
  h6 {
    @apply text-base font-medium mb-1;
  }
}

@layer utilities {
  .text-gradient-linear-primary-secondary {
    @apply bg-linear-primary-secondary text-gradient;
  }
  .text-gradient-linear-primary-accent {
    @apply bg-linear-primary-accent text-gradient;
  }
  .text-gradient-linear-secondary-accent {
    @apply bg-linear-secondary-accent text-gradient;
  }
  .text-gradient-linear-primary-secondary-accent {
    @apply bg-linear-primary-secondary-accent text-gradient;
  }
  .text-gradient-radial-primary-secondary {
    @apply bg-radial-primary-secondary text-gradient;
  }
  .text-gradient-radial-primary-accent {
    @apply bg-radial-primary-accent text-gradient;
  }
  .text-gradient-radial-secondary-accent {
    @apply bg-radial-secondary-accent text-gradient;
  }
  .text-gradient-radial-primary-secondary-accent {
    @apply bg-radial-primary-secondary-accent text-gradient;
  }
}